body {
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.popover {
	display: none;
	position: absolute;
	width: 250px;
	background-color: antiquewhite;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

.popover.active {display: block;}

.btn {
	display: inline;
	padding: 6px 10px;
	border-radius: 9px;
	border: 1px solid #000;
	background-color: #3f51b5;
	color: aliceblue;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover{
	background-color: #2a388b;
	box-shadow: 0 0 15px rgba(3, 97, 160, 0.6);
}