* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #7d56f3;
}

.container {
	width: min(60%, 28.12em);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.container * {
	border: none;
	outline: none;
}

.inputWrapper {
	background-color: #fff;
	padding: 1.87em 1.5em;
	border-radius: 1em;
	box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.4);
	margin: 3.12em;
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 1em;
}

input, button {
	font-weight: 500;
	border-radius: 0.31em;
}

input {
	background-color: #eeeeff;
	color: #080808;
	padding: 1.2em 1.25em;
	font-size: 0.87em;
}

button {
	color: #fff;
	background-color: #7d56f3;
	padding: 0em 1.4em;
	cursor: pointer;
}

.outputWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.outputWrapper div {
	height: 6.25em;
	width: 6.25em;
	background-color: #fff;
	box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.6);
	border-radius: 0.31em;
	display: grid;
	place-items: center;
	padding: 1.25em 0;
}

span {
	font-size: 1.87em;
	color: #080808;
}

p {
	color: #797979;
	font-size: 0.87em;
	font-weight: 400;
}

h1, h2 {
	text-align: center;
}

h2 {
	font-size: 0.9em;
	margin: 0.8em 0;
	color: rgb(20, 235, 170);
}